@model HomeCorner.ViewModels.HousesViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Details</h2>

<div>
    <h4>House</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.Partial("_HousesDataTable", Model.House)

        <dt>
            @Html.DisplayNameFor(model => model.Features)
        </dt>

        @if (Model.Features.Count == 0)
        {
            <dd>No Features</dd>
        }
        else
        {
            foreach (var feature in Model.Features)
            {
                <dt>
                    @feature.Feature;
                </dt>
            }
        }
        <dt>
            @Html.ActionLink("Edit", "Edit", new { id = Model.House.Id }) |
            @Html.ActionLink("Back to List", "Index")

        </dt>
    </dl>
    </div>
        
